* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    /* font-family: 'Signika Negative', sans-serif; */
    /* font-family: 'Asap', sans-serif; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

body {}

:root {
    --dark-color: #3A4E48;
    --light-color: #8B9D83;
    --mid-dark: #3a4e4845;
    --shadow: 0 0 12px #3A4E48;
    --input-width: 180px;
    --container-width: 980px;
}

.mainWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-color);
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: var(--container-width);
    padding: 30px 15px;
    margin: 0 auto;
    overflow: hidden;
}

.calculationBlock {
    position: relative;
    background: #FFF;
    border: 20px solid #3A4E48;
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 20px;
}

.heading {
    color: var(--dark-color);
    margin-bottom: 50px;
    font-size: 30px;
}

label {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 10px;
}

label span {
    font-size: 10px;
}

.mixInputs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: calc(var(--input-width) * 3 + 3px);
    border: 1px solid var(--dark-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.mixInputs input[type="number"] {
    border: none;
    background: #EAEDE8;
    height: 40px;
    padding: 5px 20px 5px 10px;
    width: var(--input-width);
}

.mixInputs .inputInfoGroup:not(:last-child) input {
    border-right: 1px solid var(--mid-dark);
}

.mixInputs input[type="number"]:focus {
    background: var(--mid-dark);
    outline: none;
}

.mixInputs input:focus~.info {
    border: 1px solid var(--dark-color);
}

.inputInfoGroup .infoBox {
    display: none;
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 0px;
    height: 0px;
    /* width: 400px;
    height: 120px; */
    transform: scale(0);
    background: var(--dark-color);
    color: #FFF;
    border: 2px solid var(--dark-color);
    border-radius: 10px 10px 30px 0;
    padding: 10px;
    overflow-y: auto;
    transition: .3s all ease-in-out;
}

.inputInfoGroup .info:hover~.infoBox {
    display: block;
    width: 400px;
    height: 120px;
    transform: scale(1);
    /* display: block; */
}

.inputInfoGroup .infoBox::after {}

.mixInputs .inputInfoGroup:first-child input {
    border-radius: 10px 0 0 10px;
}

.mixInputs .inputInfoGroup:last-child input {
    border-radius: 0 10px 10px 0;
}

.labelGroup label {
    width: var(--input-width);
    font-size: 12px;
    margin-bottom: 5px;
}

.inputInfoGroup {
    position: relative;
}

.inputInfoGroup .info {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    background: #FFF;
    color: var(--dark-color);
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s all ease-in;
}

.inputInfoGroup .info:hover {
    background: var(--dark-color);
    color: #fff;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.taxCard {
    background: var(--dark-color);
    color: #FFF;
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 20px;
    min-width: calc(var(--container-width) - calc(var(--input-width) * 3) - 180px);
    margin-top: 25px;
}

.taxCard .title {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.taxCard .finalAmt {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 2px;
    text-align: center;
}

.taxCard .old {
    font-size: 11px;
    letter-spacing: 1.2px;
    text-align: center;
}

.taxCard .new {
    margin-top: 20px;
    text-align: end;
}



.detailBlock {
    display: none;
    background: #EEE;
    /* background: #FFF; */
    box-shadow: var(--shadow);
    /* border-radius: 10px; */
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transform-origin: right bottom;
    /* clip-path: circle(30% at 75% 50%); */
    transition: .3s all ease-in-out;
}

.detailBlock:hover {
    clip-path: unset;
    transform: scale(1);
}

caption {
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

caption:not(.one) {
    margin-top: 25px;
}

td {
    background-color: white;
    color: #333;
    padding: 10px;
    text-align: right;
}

td:first-child {
    width: 300px;
}

td:last-child {
    width: 150px;
}
.hraModal {
    cursor: pointer;
    color: blue;
}
.hraModal.top {
    display: none;
}

@media screen and (max-width:660px) {
    .hraModal {
        display: none;
    }
    .hraModal.top {
        display: inline-block;
    }
    .inputInfoGroup {
        width: 100%;
    }
    .mixInputs input[type="number"] {
        width: 100%;
    }
    .mixInputs .inputInfoGroup:first-child input {
        border-radius: 10px 10px 0 0;
    }
    .mixInputs .inputInfoGroup:last-child input {
        border-radius: 0 0 10px 10px;
    }
    .mixInputs .inputInfoGroup:not(:last-child) input {
        border-right: none;
    }
    .taxAmoutBlock {
        width: 100%;
    }
    .taxCard {
        min-width: 100%;
    }
    .labelGroup {
        display: none;
    }
}

